/*inspect element in browser and open the source file if having problems*/
h1, h2, h3, h4, h5, h6 {
	color: #10687D;
}

hr {
	border: 1px dotted #000000;
}

h1 {
	text-align: center;
	text-decoration: underline;
}

img {
	padding-top: 10px;
}

#mainImage {
	width: 70%;
}

button {
	color: white;
}